.ES6:only-child {
  margin-bottom: 2rem;
}
.ES6 {
  margin-top: 100px;
}
@media screen and (max-width: 1300px) {
  .Code__all {
    text-align: left;
    position: relative;
    left: 15rem;
    padding: 5px 0;
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .Code__all {
    text-align: left;
    position: relative;
    left: 15rem;
    padding: 5px 0;
    width: 100%;
  }
}
