.Top__img {
  position: fixed;
  left: 0;
  width: 60px;
  border-radius: 17px;
  padding: 0 6px;
}
.Top {
  position: fixed;
  padding: 0 1rem 0 0;
  z-index: 2;
}
h2 {
  position: fixed;
  left: 5rem;
}
@media screen and (max-width: 750px) {
  .Top__logo {
    position: fixed;
    left: 100px;
  }
  h2 {
    position: fixed;
  }
}
