Link {
  text-decoration: none;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}

.Top {
  height: 10vh;
}
.Top__img {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
}
.Top-header {
  padding: 1rem;
}

#loading {
  animation: rotation 28s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
