body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
}

a {
  text-decoration: none;
  color: #000;
}
p {
  margin-left: 1.5em;
}
button > a {
  text-decoration: none;
  color: #fff;
}
