/* h5,
h6,
p {
  word-wrap: break-word;
} */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  margin: 0;
  padding: 0.5rem 1rem;
  overflow-x: hidden;
}

.Main {
  position: relative;
  max-width: 75vw;
  max-height: 80vh;
}
.App {
  word-wrap: break-word;
}
